
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOAN ELIGIBILITY</title>
    
</head>
<body>
<center>
    <h1>Check you Loan status here!</h1>
    <form action="{{url_for('predict')}}" method="post">
    
    <table bgcolor="lightgreen" style="width:50%">
    <br>
    <tr style="height:35px">
    <td><b>Gender<b></td>
    <td>
    <input type="radio" id="female" name="gender" value=0>Female
    <input type="radio" id="male" name="gender" value=1 checked="checked">Male
    </td>
    </tr>
    
     <tr style="height:35px">
     <td><b>Marital status<b></td>
     <td>
     <input type="radio" id="married_yes" name="married" value=1 checked="checked">Yes
    <input type="radio" id="married_no" name="married" value=0>No
     </td>
     </tr>
     
     <tr style="height:35px">
     <td><b>Education<b></td>
     <td>
     <input type="radio" id="graduate" name="education" value=0 checked="checked">Graduate
     <input type="radio" id="not_graduate" name="education" value=1>Not a graduate
     </td>
     </tr>
     
     <tr style="height:35px">
     <td><b>Self employement<b></td>
     <td>
     <input type="radio" id="selfEmployed_yes" name="self_employed" value=1 checked="checked">Self employed
     <input type="radio" id="selfEmployed_no" name="self_employed" value=0>Not self employed
     </td>
     </tr>
     
      <tr style="height:35px">
      <td><b>Credit history<b></td>
      <td>
       <input type="radio" id="creditHistory_yes" name="credit_History" value=1 checked="checked">Meets guidelines
       <input type="radio" id="creditHistory_no" name="credit_History" value=0>Does not meet guidelines
      </td>
      </tr>
      
       <tr style="height:35px">
       <td><b>Property area<b></td>
       <td>
       <select name="property_area" id="property_area">
       
           <option value=0>Rural</option>
           <option value=1>Semi urban</option>
           <option value=2 selected>Urban</option>
                       
       </select>
       </td>
       </tr>
       
        <tr style="height:35px">
        <td><b>Credit history<b></td>
        <td>
        <input type="text" name="applicantIncome" placeholder="Applicant Income" required></input>
         </td>
        </tr>
        
       <tr style="height:35px">
       <td><b>Coapplicant income<b></td>
       <td>
       <input type="text" name="coapplicantIncome" placeholder="Coapplicant Income" required></input>
        </td>
       </tr>
       
       <tr style="height:35px">
       <td><b>Loan amount<b></td>
       <td>
       <input type="text" name="loan_Amount" placeholder="Loan amount in thousands" required></input>
        </td>
       </tr>
       
       <tr style="height:35px">
       <td><b>Loan amount term<b></td>
       <td>
       <input type="text" name="loan_Amount_Term" placeholder="Term of a loan in months" required></input>
        </td>
       </tr> 
       
      
    </table>
    <br>
    <br>
        <button type="submit" onClick="transfer(this.value)">Predict</button>
    </form>
    
    <div>
    <h3>{{prediction_text}}</h3>

    </div>
</center>
    
    
</body>
</html>

